export DB_URL=jdbc:postgresql://localhost:5432/finance
export DB_USERNAME=finance
export DB_PASSWORD=finance
export AUTH_JWT_SECRET=local-dev-secret-must-be-at-least-32-chars
export AUTH_JWT_ACCESS_EXPIRATION_MS=900000
export AUTH_REFRESH_EXPIRATION_MS=604800000
export AUTH_REFRESH_COOKIE_SECURE=false
export SPRING_PROFILES_ACTIVE=dev
export RESEND_API_KEY=re_UtBeQLDd_F4KSLeY8aASCwSsgoNUtM5Xz
export RESEND_FROM_EMAIL=onboarding@resend.dev